.cover {
    position: relative;
}

.coverImage {
    width: 100%;
    max-width: 1519.2px;
}


.cover-title {
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 6vw;
}

.facts-container {
    background-color: rgb(236, 236, 236);
}