@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.omeImg {
    width: 100%;
}

.logo {
    max-width: 6em;
}


.con-image {
    width: 100%;
    max-width: 1519.2px;
}
.con {
    position: relative;
    color: white;
    background-color: rgb(32, 32, 32);
    text-align: center;
}

.skills {
    font-size: 2vw;
    font-family: 'Ubuntu Mono', monospace;
}
.hello {
    position: absolute;
    top: 40%;
    left: 20%;
}

.hello h1 {
    font-size: 6vw;
}

.hello h3 {
    font-size: 3vw;
}
.hello p {
    font-size: 1.25vw;
}

#first {
    font-size: 3vw;
    font-weight:bolder;
    color: rgb(255, 171, 44);
}

#slash {
    font-size: 3vw;
    font-weight:bolder;
    color: rgb(51, 255, 44);
}

#second {
    font-size: 3vw;
    font-weight:bolder;
    color: rgb(255, 34, 144);
}

.about {
    padding: 20px;
    background-color: rgb(219, 219, 219);
    color: black;
    font-weight: bold;

    
}

/* home Intro */

.description {
    margin: auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}


/* Home Passion */
.con2 {
    background-color: rgb(34, 34, 36);
    color:  white;
    text-align: center;
    font-family: 'Quicksand', sans-serif !important;
}

.con2-content {
    padding: 2rem;
}

.con2-content h1 {
    font-family: 'Merriweather', serif;
}

.inLink {
    text-decoration: none;
    
}

.linkBtn {
    padding: 1em 3em 1em 3em;
    border-style: solid;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    border-color: tomato;
    color: white;
    text-decoration: none !important;
}

.buttonContainer {
    color: tomato;
}

.linkBtn:hover {
    background-color: tomato;
    color: black;
}

.col-sm-6 h3 {

    font-family: 'Merriweather', serif;

}

.contactBtn1 {
    text-align: center;
    align-items: center;
}

.contactBtn {
    padding: 1em 3em 1em 3em;
    border-style: solid;
    background-color: transparent;
    border-color: tomato;
    color: tomato;
}

.contactBtn:hover {
    background-color: tomato;
    color: white;
}


/* Projecrs */

.project {
    padding-top: 40px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding-bottom: 40px;
}

.projectImage {
    max-width: 100% ;
    filter: brightness(80%);
}

.projectImage:hover {
    background-color: black;
    filter: brightness(40%);
}

.project-title {
    padding: 30px;
    font-family: 'Quicksand', sans-serif !important;
}

.project-card {
    position: relative;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 10px;
}

.projectName {
    font-size: 1em;
    font-family: 'Ubuntu Mono', monospace;
}

.card-inner {
   max-width: 350px;
    position: absolute;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    color: white;
  opacity: 0.5;
  /* transition effect. not necessary */
  
  visibility: hidden;
  
  
}


.card-inner p {
    margin-bottom: 0;
}

.project-card:hover .card-inner {
    visibility: visible;
    opacity: 1;
}

.cardbtn {
    margin-top: 10px;
    border-style: solid;
    border-color: white;
    color: white;
    padding: 1em 3em 1em 3em;
    background-color: transparent;
    text-decoration: none !important;
}


.cardbtn:hover {
    color: black;
    background-color: white;
}




/* Photo Gallery */

.galleryContainer {
    margin-top: 20px;
    border-top: 50px;
    border-bottom: 50px;
    padding: 20px;
    background-color: rgb(235, 235, 235);
    text-align: center;
}
.gallery-title {
    color: white;
    padding: 30px;
    text-align: center;
    font-family: 'Quicksand', sans-serif !important;
}

.row {
    padding-bottom: 30px !important;
}

.gallery-title h1 {
    border-top: 20px !important;
}

.gallery-image {
    transition: transform .2s;
}


.gallery-image:hover {
    
    transform: scale(1.2);
}

/* Help */

.help {
    background-color: darkgrey;
    position: relative;
    text-align: center;
}

.helpImage {
    max-width: 100%;
}

.ask {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    
}

.ask h1 {
    font-size: 4.5vw;
}

.helpBtn {
    text-decoration: none !important;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    
    border-style: solid;
    border-color: tomato;
    background-color: transparent;
    padding: 1vw 3vw 1vw 3vw;
}

.helpBtn:hover {
    color: black;
    background-color: tomato;
}

/* Footer Component */

.footer {
    padding-top: 30px;
    background-color: rgb(34, 34, 34);
    color: white;
    font-size: 0.5vw;
    text-align: center;
}

.footer h2 {
    font-family: 'Quicksand', sans-serif;
}

.footer-nav a{
    padding-top: 30px;
    padding-bottom: 20px;
    font-size:3vmin;
   color : white;
   font-family: 'Quicksand', sans-serif;
}

.footer-nav a:hover {
    color: tomato;
   
}

.horizontal {
    margin-top: 10px;
    background-color: tomato;
    opacity: 0.7;
    width: 70%;
    height: 0.1em;
}

.photographyLink {
    color: tomato;
    
}

.rights {
    margin-bottom: 0;
    padding :20px;
    font-size: 1.75em;
}

.photographyLink:hover {
    color: rgb(214, 59, 31);
}

.accounts {
    width: 3em;
    height: auto;  
}

.accounts:hover {
    filter: brightness(50%);
}
.accountsContainer {
    padding-bottom: 40px;
}

.accountsContainer span {
    padding :1em;
}


.AccountLink {
    color: white;
}

.AccountLink:hover {
    color: white;
    filter: brightness(50%);
}