@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.resumeCover {
    position: relative;
}


.resumeCoverimg{
    width: 100%;
    max-width: 1519.2px;
    filter: brightness(80%);
}

.resumeCovertitle {
    position: absolute;
    color: rgb(255, 255, 255);
    top: 40%;
    left: 45%;
    font-size: 6vw;
}

.resumeDownload {
    position: absolute;
    color: white;
    top: 60%;
    left: 45%;
    border-style: solid;
    font-size: 4vmin;
    border-color: tomato;
    padding: 1em 2em 1em 2em;
    text-decoration: none !important;
}

.resumeDownload:hover {
    background-color: black;
    border-color: black;
    color: tomato;
}

.techContent {
    padding: 2vw;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.projectContent {
    background-color: rgb(199, 198, 199);
    padding: 2vw;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.activityContent {
    padding: 2vw;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.eduContent {
    background-color: rgb(199, 198, 199);
    padding: 2vw;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.hireMsgContent {
    padding: 3vw;
    text-align: center;
}

.hireMsgBtn {
    text-decoration: none !important;
    color: tomato;
    border-style: solid;
    border-color: tomato;
    padding: 0.5vw 3vw 0.5vw 3vw;
}

.hireMsgBtn:hover{
    background-color: black;
    border-color: black;
    color: tomato;
}